{%extends 'index.html' %}

{%block title%}
About Us
{%endblock%}

{%block content%}

    <section class="our-webcoderskull padding-lg my-5">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>Our Team</h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img
                                src="https://media.istockphoto.com/photos/smiling-man-with-arms-crossed-wearing-eyeglasses-picture-id1284027512?k=20&m=1284027512&s=612x612&w=0&h=gJFKUHjcUwv-WHAl6zLHmbfsJmJTLp5p1KqFBqSsO3w="
                                class="img-responsive" alt="" width=300px></figure>
                        <h3>CEO</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vitae explicabo natus aliquam error sapiente.</p>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img
                                src="https://media.istockphoto.com/photos/portrait-of-a-smiling-young-businessman-picture-id1297832726?k=20&m=1297832726&s=612x612&w=0&h=9pvxBBxZecuuRsmnCOKNrOpwTtm7U_3KYZBRCsTMkic="
                                class="img-responsive" alt="" width=300px></figure>
                        <h3>Founder</h3>
                       <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deleniti rerum consectetur quis! Ducimus, pariatur?
                       </p>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img
                                src="https://media.istockphoto.com/photos/portrait-of-a-smiling-middle-aged-man-of-indian-origin-picture-id1288039261?k=20&m=1288039261&s=612x612&w=0&h=rjv64zZYM2NiFZVlicra81szC7u-XVp4nMr1vNL_u0I="
                                class="img-responsive" alt="" width=300px></figure>
                        <h3>CO-founder</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi excepturi rem vero commodi eligendi.</p>
                    </div>
                </li>

            </ul>
        </div>
    </section>
    {%endblock%}